@charset "UTF-8";

body{
    background-color: rgba(5, 5, 255, 0.68);
    font: normal 1.5em arial;
}

header{
    color: white;
    text-align: center;
}

div{
    text-align: center;
    padding: 10px;
}

section{
    background-color: white;
    padding: 10px;
    margin: auto;
    width: 500px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.432);
}

footer{
    color: white;
    text-align: center;
}